{% extends 'basic.html'%}
{% load crispy_forms_tags %}
{% block title %}Log In | {{block.super}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <form  action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success" value="Log In">

        </form>

            <small class="text-muted">
                <!-- ml-2 class == just to separate from text == left link a -->
                Don't have an account?<a class="ml-2" href="{% url 'accounts:signup' %}">Sign Up  now</a>
            </small>
            <hr>
            <br><br>
            <small class="text-muted">
                Forgot your password?<a class="ml-2" href="{% url 'password_reset' %} ">Reset your password now</a>
            </small>



    </div>

</div>
{% endblock %}
