{% extends 'basic.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block content %}
<h3>Hi,  user </h3>
  <h3>Forgot password? Please reset it</h3>
  <p>Oh no! It happens to the best of us, though! Enter the email address that's associated with your account and we'll send you instructions on how you can change your password.</p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy}}
    <input type="submit" value="Send me instructions!" class="btn btn-success">
    <!-- <button type="submit">Submit</button> -->
  </form>
{% endblock %}
